@media screen and (max-width: 1000px)
  .hotel-ratings, .hotel-info
    width 65%
  .science__title-h2
    font-size 42px
    line-height 45px
    margin-bottom 20px
@media screen and (max-width: 900px)
  .header
    .container
      justify-content space-between
    &-logo
      margin-right 0
      &__img
        width 140px
        height 30px
    &-phone
      margin-left 0
    &-feedback
      margin-left 0
    &-social
      margin-left 0  

  .hotel-showcard
    top -22%

  .science
    &__whr
      font-size 75px
    &__heading
      font-size 25px
      line-height 26px
    &__txt
      font-size 18px

.banner
  &-badge
    left 5%
    bottom 5%
    width 200px
    height 200px
    &__country
      margin-bottom 5px
      font-size 20px
    &__text
      font-size 10px
    &__code
      font-size 20px


@media screen and (max-width: 892px)
  .banner
    .hotel__name
      margin-bottom 30px
      width 100%

  .tours
    .hotel__link, .hotel__price
      font-size 30px
      &--old
        font-size 20px

@media screen and (max-width: 867px)
  .hotel-info, .hotel__name, .hotel-rating
    margin-bottom 15px
  .hotel-rating
    order 1
  .hotel__reviews
    order 2
    
@media screen and (max-width: 800px)
  .header
    .container
      flex-wrap wrap
    &-logo, &-social
      width 50%
    &-logo
      margin-bottom 20px
    &-social
      display inline-block
      vertical-align middle
      text-align right
    &-heading
      order 3
    &-heading, &-phone, &-feedback
      width 33.33%
    &-phone
      order 4
      text-align center
      &__link
        font-size 20px
    &-feedback
      order 5
      text-align right
  
  .hotel-showcard__number
    font-size 66px

  .hotel-showcard
    &__number
      font-size 77px
    &__text
      font-size 25px

@media screen and (max-width: 750px)
  .hotel-rating
    &__common
      margin-right 10px
      font-size 18px
  .hotel__rating
    margin-right 5px
    font-size 10px
    span
      font-size 14px

  .science
    &__wrap
      flex-wrap wrap
      flex-flow column
    &__sidebar
      padding-top 30px
      margin 0 auto
      width 65%
      

@media screen and (max-width: 676px)
  .banner-badge
    width 160px
    height 160px
    &__country, &__code
      font-size 18px

  .hotel__name
    margin-right 0 !important
  .hotel__link, .hotel__price
    font-size 30px

  .hotel-showcard
    &__number
      font-size 55px
    &__text
      font-size 18px

  .tours__list
    flex-wrap wrap
    margin 0
  .tours__item
    width 100%
    margin 0
    margin-bottom 30px
    &:last-child
      margin-bottom 0

  .science
    &__title-h2
      font-size 35px
      line-height 37px  
    &__whr
      font-size 65px

@media screen and (max-width: 502px)
  .banner-badge
    width 130px
    height 130px
    &__country, &__code
      font-size 14px

  .hotel
    &-rating
      display none
    &-showcard
      right 5%
      &__number
        font-size 44px

  .science
    &__text, &__uniquetext
      margin-bottom 15px
    &__uniquetext
      padding 10px 0 10px 42px
      &::before
        width 4px
        left 18px
    
@media screen and (max-width: 450px)
  .header
    padding 20px 0
    &-phone
      order 5
      width 100%
      margin-top 15px
    &-heading, &-feedback
      width 50%
    &-feedback
      order 4
  .hotel-info
    width 100% !important

  .tours, .science
    padding 20px 0
  .science
    &__title-h2
      font-size 30px
      line-height 32px
      margin-bottom 15px
    &__sidebar
      padding-top 15px
    &__whr
      font-size 45px
    &__heading
      font-size 20px
      line-height 21px
    &__txt
      font-size 16px

@media screen and (max-width: 418px)
  .hotel__link
    font-size 22px
  .hotel__star
    width 20px
    height 19px

  .hotel-showcard__number
    font-size 33px
  .hotel-showcard__text
    font-size 10px
    text-transform uppercase


@media screen and (max-width: 341px)
  .banner
    .hotel__stars
      margin-right 15px
    .hotel__price
      font-size 22px
  
  .tours
    .hotel__link, .hotel__price
      font-size 22px
      &--old
        font-size 16px
        top 35px

  
  


  