section.science
  .container
    h2.science__title-h2 36,6 гра&shy;ду&shy;сов по цель&shy;сию и по&shy;зна&shy;ва&shy;тель&shy;ная фи&shy;зи&shy;ка

    .science__wrap
      .science__content
        p.science__text 
          strong Никто не задумывался почему температура человеческого тела 36,6 С? Почему не иная? Почему не равна дневной температуре окружающего пространства к примеру? Но почему так произошло? Первая причина лежит от нас на временной оси в прошлом на расстоянии в несколько миллиардов лет. Именно тогда появилась жизнь.

        p.science__text Грубо говоря первичные репликаторы огородились защитной оболочкой от остальной части океана — создав клетки. Клетки это замкнутые водные резервуары, в которых вся жизнедеятельность проходит в водной среде. И все сухопутные организмы концептуально это машины выживания репликаторов, мобильная (в случае с животными), благоприятная водная среда для репродукции, окруженная защитной оболочкой от внешнего мира.

        h3.science__title-h3 Ищем ответ

        p.science__text Что интересно, все теплокровные функционируют в пределах той же области температур что и человек. Например температура у лошадей 37,5-38,5; у коров 37,5-39,5; кур 40,5-42,5; свиней 39,0-40,0; кошек 38,0-39,5; обезьян 38,1; голубей 41,0-44,0. Ответ лежит в области нет, не биологии. А в области физики воды. Дело в том, что теплоемкость воды нелинейно зависит от температуры. Теплоемкость это количество энергии, которое необходимо потратить для того что бы нагреть 1 кг вещества на 1 градус. При увеличении температуры она как бы пикирует как штурмовик, и возносится ввысь после прохождения нижней точки в 36,8 градусов Цельсия. В организме человека вода составляет около 65-70%, её теплоемкость огромна.

        p.science__uniquetext Дело в том, что теплоемкость воды нелинейно зависит от температуры. Теплоемкость это количество энергии, которое необходимо потратить для того что бы нагреть 1 кг вещества на 1 градус. При увеличении температуры она как бы пикирует как штурмовик, и возносится ввысь после прохождения нижней точки в 36,8 градусов Цельсия. В организме человека вода составляет около 65-70%, её теплоемкость огромна.

        p.science__text 90% энергии получаемой с пищей, теплокровные потому тратят только лишь на поддержание постоянной температуры внутренней среды. На нагревание воды. Потому эта ямка, минимум, в котором нужно было тратить минимальное количество энергии на поддержание своего состояния, как аттрактор, стягивал на себя на протяжении эволюции все «модели» теплокровных. Фенотипы, с рабочей температурой иных диапазонов были слишком «прожорливыми» и отсеивались отбором.

        h4.science__title-h4 Хлорофилл и красота

        p.science__text Могло случится так что небо было бы ядовито-желтое а не голубое. Трава так же красная. Нравился бы нам такой пейзаж? Почему красный, ярко-желтый, создают чувство неспокойствия и не подходят для идилических райских картин ландшафтов как голубой и зеленый? Дело не в них а в нас. Мы продукт эволюции, продукт среды в которой мы развивались. Что и было показано на примере температуры тела.

        p.science__text Начну с далека, так уж нужно, ничего не поделаешь… Зеленым цветом на картинке окрашена трава, трава это растение. Первыми вышли задолго до животных на сушу растения. Они сформировали то первичное окружение для живых организмов, создали им условия существования на суше. Стали источником пищи и крова, ведь животные гетеротрофы. Растения же в основном автотрофы. Так вышло что у растений при участии хлорофилла осуществляется процесс фотосинтеза. А по совместительству он так же зелёный пигмент, обусловливающий окраску хлоропластов растений в зелёный цвет.

        p.science__text  Так же интересна физическая причина наших понятий красоты.
          
        .science__wrapper
          table.science__table
            thead
              tr
                td 
                td Хлорофилл a
                td Хлорофилл b
                td Хлорофилл c1
                td Хлорофилл c2
            tbody
              tr
                td <b>Формула</b>
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
              tr
                td <b>C2 группа</b>
                td -C<sub>55</sub>
                td -C<sub>55</sub>
                td -C<sub>55</sub>
                td -C<sub>55</sub>
              tr
                td <b>C3 группа</b>
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
                td C<sub>55</sub>H<sub>44</sub>O<sub>5</sub>N<sub>4</sub>Mg
              
        p.science__answers Как найти эти консервативные признаки? Наиболее часто рассматривают 5 источников информации о них:
        ul.science__list
          li.science__item — эмбриологические исследования;
          li.science__item  — тератологические данные;
          li.science__item — сравнительно-морфологические данные;
          li.science__item — анализ врожденных поведенческих программ (этологические данные);
          li.science__item — изучение взаимосвязи с другими видами.

      aside.science__sidebar
        span.science__whr 0,71
        span.science__heading WHR здорового человека 
        span.science__txt Один из весьма надежных оказателей здоровья, фертильности, как раз «waistto hip ratio».



    