section.tours
  .container
    .tours__list

      .tours__item
        .tours__img
          a.tours__link(href="#")
            img(src="static/img/content/tours/tour1.jpg", alt="Шелковый путь")
        .tours__info
          h4.hotel__name 
            a.hotel__link(href="#") Шелковый путь
          .hotel__price &#36;158
          .hotel__subtitle Экстремальный маршрут

      .tours__item
        .tours__img
          a.tours__link(href="#")
            img(src="static/img/content/tours/tour2.jpg", alt="Роупджампинг")
        .tours__info
          h4.hotel__name 
            a.hotel__link.sale(href="#") Роупджампинг
          .hotel__price &#36;57
          .hotel__price.hotel__price--old &#36;90
          .hotel__subtitle Не дай Бог не любишь