footer.footer
  .container
    .footer__content
      p.footer__txt 2018 Тестовое задание на вакансию верстальщика в компанию 
        a.footer__link(href="https://aweb.ua/vacancies/html-coder") Aweb
      .social
        a.social__link(href="#")
          svg.social__img
            //Svg path for Github Pages
            use(xlink:href="/SunTour/static/img/svg/icons.svg#facebook")

            //Svg path for Localhost
            //- use(xlink:href="/static/img/svg/icons.svg#facebook")
            
        a.social__link(href="#")
          svg.social__img
            //Svg path for Github Pages
            use(xlink:href="/SunTour/static/img/svg/icons.svg#google-plus")

            //Svg path for Localhost
            //- use(xlink:href="/static/img/svg/icons.svg#google-plus")

        a.social__link(href="#")
          svg.social__img
            //Svg path for Github Pages
            use(xlink:href="/SunTour/static/img/svg/icons.svg#instagram")

            //Svg path for Localhost
            //- use(xlink:href="/static/img/svg/icons.svg#instagram")