header.header
  .container
    a.header-logo(href="index.html")
      svg.header-logo__img
        //Svg path for Github Pages
        use(xlink:href="/SunTour/static/img/svg/icons.svg#logo-suntour")

        //Svg path for Localhost
        //- use(xlink:href="/static/img/svg/icons.svg#logo-suntour")

    h1.header-heading Сеть турагенств<br>«Солнце в кругу» 

    a.header-phone(href="tel:0441234567") 044 123-45-67
    a.header-feedback(href="#") обратный звонок

    .social.social--white
      a.social__link(href="#")
        svg.social__img
          //Svg path for Github Pages
          use(xlink:href="/SunTour/static/img/svg/icons.svg#facebook")

          //Svg path for Localhost
          //- use(xlink:href="/static/img/svg/icons.svg#facebook")
      a.social__link(href="#")
        svg.social__img
          //Svg path for Github Pages
          use(xlink:href="/SunTour/static/img/svg/icons.svg#google-plus")

          //Svg path for Localhost
          //- use(xlink:href="/static/img/svg/icons.svg#google-plus")

      a.social__link(href="#")
        svg.social__img
          //Svg path for Github Pages
          use(xlink:href="/SunTour/static/img/svg/icons.svg#instagram")

          //Svg path for Localhost
          //- use(xlink:href="/static/img/svg/icons.svg#instagram")