header.header
  .container
    .header-logo
      a.header-logo__link(href="index.html")
        svg.header-logo__img
          use(xlink:href="../../static/img/svg/icons.svg#logo-suntour")
    h1.header-heading Сеть турагенств<br>«Солнце в кругу» 

    .header-phone
      a.header-phone__link(href="tel:0441234567") 044 123-45-67
    .header-feedback
      a.header-feedback__link(href="#") обратный звонок

    .social.social--white
      a.social__link(href="#")
        svg.social__img
          use(xlink:href="/SunTour/static/img/svg/icons.svg#facebook")
      a.social__link(href="#")
        svg.social__img
          use(xlink:href="/SunTour/static/img/svg/icons.svg#google-plus")
      a.social__link(href="#")
        svg.social__img
          use(xlink:href="/SunTour/static/img/svg/icons.svg#instagram")